* {
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;	
	background-color: auto;
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
}


h1 {
	color: white;
	text-shadow: 1px 1px black;
	padding: 60px;
}


h4, h5, h6 {
	color: white;
	text-shadow: 1px 1px black;
	margin-left: 20px;
}


p {
	color: white;
	text-shadow: 1px 1px black;
}

article {
	padding-top: 30px;
	padding-bottom: 30px;
}

section {
	margin-top: 10px;
	margin-bottom: 10px;
}

nav {
	padding: 60px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: white;
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 600px)