* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}


 header {
	 color: #f0ad4e;
	 padding: 50px;
 } 
 
 section li {	 
	color: #f0ad4e;
	 list-style: none;
	 font-style: italic;
	 font-size: 24px;
	 margin-right: 50px;
	 text-align: right;

 }

 article { 
	 color: white;
	 text-align: center;
	 max-width: 800px;
	 padding: 20px;
	 font-size: 18px;
 }
  
.col-sm-4 card {
	margin: 10px;
}

.col-sm-4 p {
	color: black;
	padding: 10px;
}
 
.container {
	padding: 20px;
}
 
 .container h3 {
	 color: #f0ad4e;
	 padding: 20px;
 }
 
 nav p {
	color: #f0ad4e;
	font-size: 14px;
	text-align: center;
}


 footer {
	 text-align: center;
	 padding: 40px;
 }
 
 footer h3 {
	 color: #f0ad4e;
	 text-shadow: 1px 2px black;
 }
 

/*linkedin*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


form {
	color: #f0ad4e;
	text-shadow: 1px 1px black;
	padding: 40px;
}

form li {
	list-style: none;
}

 
 @media only screen and (max-width: 600px)